*, *::before, *::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSansVariable';
  src: url('static/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
  font-weight: 100 900; /* Диапазон веса */
  font-stretch: 75% 100%; /* Если шрифт поддерживает wdth */
  font-style: normal;
}

body {
  font-family: 'OpenSansVariable', sans-serif;
  font-variation-settings: "wght" 400, "wdth" 100;
}

body {
  padding-top: 50px;
}

h1, h2, h3 {
  font-variation-settings: "wght" 700;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.container {
  width: min(100% - 2rem, 400px);
  margin-inline: auto;
}

form > *+* {
  margin-top: 1rem;
}

form > * {
  display: grid;
}